<div class="container mt-3 mb-3">
  <div class="row align-items-center">
    <div class="col-4"></div>
    <div class="col-4">
      <h1 class="profile-header text-center mb-4">Perfil de <%= @user.name %> <%= @user.last_name %></h1>

      <div class="profile-container text-center">
        <div class="profile-photo-container mb-3">
          <% if @user.photo.attached? %>
            <%= cl_image_tag @user.photo.key, alt: "Foto de perfil", class: "profile-photo rounded-circle border" %>
          <% else %>
            <%= image_tag "default_user.jpg", alt: "Foto de perfil por defecto", class: "profile-photo rounded-circle border" %>
          <% end %>
        </div>

        <div class="profile-info">
          <p><strong>Email:</strong> <%= @user.email %></p>

          <% if @user == current_user %>
            <%= link_to "Editar Perfil", edit_user_path(@user), class: "btn-edit btn btn-primary btn-lg shadow-lg rounded-pill px-5" %>
          <% end %>

          <% if @user.doctor.present? %>
            <hr>
            <h3>Información de Doctor</h3>
            <p><strong>Especialidad:</strong> <%= @user.doctor.specialty %></p>
            <p><strong>Licencia:</strong> <%= @user.doctor.license %></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-4"></div>
  </div>
</div>
