<section class="about-section py-5">
  <div class="container">
    <div class="container banner mb-5 text-center rounded-5"
     style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
            url(https://iili.io/3zRn2kl.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 60vh;
            min-height: 300px;
            display: flex;

            padding: 0 20px;">
      <div class="text-center text-white">
        <h3 class="text-white"><%= t("about.banner_title") %></h3>
        <div class="section-underline mx-auto mb-4"></div>
      </div>
    </div>



    <div class="about-content text-center">
      <p class="lead mb-5"><%= t("about.intro").html_safe %></p>

      <h2 class="hero-title"><%= t("about.mission.title") %></h2>
      <p class="mb-5"><%= t("about.mission.text") %></p>

      <h2 class="hero-title"><%= t("about.services.title") %></h2>
      <p class="mb-5"><%= t("about.services.description") %></p>

      <div class="row">
        <% ["sexual_health", "counseling", "couples_therapy"].each do |service| %>
          <div class="col-md-4 mb-4">
            <div class="service-card bg-light p-4 rounded shadow">
              <h5><strong><%= t("about.services.#{service}.title") %></strong></h5>
              <p><%= t("about.services.#{service}.description") %></p>
            </div>
          </div>
        <% end %>
      </div>

      <div class="row">
        <% ["lgbtq_support", "trauma", "relationship_wellbeing"].each do |service| %>
          <div class="col-md-4 mb-4">
            <div class="service-card bg-light p-4 rounded shadow">
              <h5><strong><%= t("about.services.#{service}.title") %></strong></h5>
              <p><%= t("about.services.#{service}.description") %></p>
            </div>
          </div>
        <% end %>
      </div>

      <h2 class="hero-title"><%= t("about.approach.title") %></h2>
      <p class="mb-5"><%= t("about.approach.text_1") %></p>
      <p class="mb-5"><%= t("about.approach.text_2") %></p>

      <h2 class="hero-title"><%= t("about.why_choose_us.title") %></h2>
      <ul class="list-unstyled mb-5">
        <% ["experienced", "personalized", "compassionate", "holistic"].each do |reason| %>
          <li><strong><%= t("about.why_choose_us.#{reason}.title") %></strong> <%= t("about.why_choose_us.#{reason}.text") %></li>
        <% end %>
      </ul>

      <h2 class="hero-title"><%= t("about.final_call.title") %></h2>
      <p><%= t("about.final_call.text") %></p>
    </div>
  </div>
</section>
