<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-black mt-5">
    <h1 class="hero-title"><%= @category %></h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
    <% if current_user&.doctor? %>
      <div class="mt-4">
        <%= link_to t('posts.create_article'), new_post_path, class: 'btn btn-primary btn-lg shadow-lg rounded-pill px-5' %>
      </div>
    <% end %>
  </div>
</div>

<!-- POSTS -->
<div class="container py-5">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-12 col-sm-6 col-md-4 mb-3">
        <%= link_to post_path(post), class: "text-decoration-none text-dark" do %>
          <div class="card-category">
            <div class="d-flex justify-content-center mb-3">
              <% if post.photos.attached? %>
                <% post.photos.each do |photo| %>
                  <%= cl_image_tag photo.key, class: "img-fluid mb-4 ms-3 me-3", style: "height: 300px; width: 400px; object-fit: cover;", alt: post.title %>
                <% end %>
              <% else %>
                <p><%= t('posts.no_image_available') %></p>
              <% end %>
            </div>
            <h5 class="text-center"><%= t('posts.article') %> <%= post.id %>: <%= post.title %></h5>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
