<%= simple_form_for @post, html: { multipart: true, class: 'container mt-5' } do |f| %>
  <div class="card shadow-lg border-0 rounded-4">
    <div class="card-header bg-primary text-white text-center py-3">
      <h3 class="mb-0 fw-bold"><%= t('post.new.new_article') %></h3>
    </div>

    <div class="card-body p-4">
      <!-- Title -->
      <%= f.input :title,
          wrapper: :no_form_control,
          label: t('post.new.title'),
          required: true,
          input_html: { class: 'my-custom-input' } %>

      <!-- Rich Text -->
      <div class="mb-4">
        <%= f.label :rich_content, t('post.new.description'), class: 'form-label fw-bold' %>
        <%= f.rich_text_area :rich_content %>
      </div>

      <!-- Category -->
      <%= f.input :category,
      collection: Post::CATEGORIES.map { |key| [I18n.t("categories.#{key}"), key] },
      prompt: t('post.new.select_category'),
      label: t('post.new.category'),
      wrapper: :no_form_control,
      input_html: { class: 'form-select' } %>

      <!-- Images -->
      <%= f.input :photos,
          wrapper: :no_form_control,
          label: t('post.new.images'),
          as: :file,
          input_html: { multiple: true, class: 'form-control' } %>
    </div>

    <div class="card-footer text-center bg-light">
      <%= f.button :submit, t('post.new.submit_article'), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<script>
document.addEventListener("trix-initialize", function (event) {
  const toolbar = event.target.toolbarElement;

  const unwanted = [
    "strike", "quote", "attachFiles", "code", "decreaseNestingLevel", "increaseNestingLevel"
  ];

  unwanted.forEach(attr => {
    const button = toolbar.querySelector(`[data-trix-attribute='${attr}'], [data-trix-action='${attr}']`);
    if (button) button.remove();
  });
});

</script>
