<div class="container">
  <div class="row justify-content-center">

    <div class="col-md-12 col-lg-12 shadow-sm mt-4 p-4 rounded bg-white">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="mb-3"><%= @post.title %></h1>
        <% if @post.doctor_id == current_user.doctor&.id %>
          <div>
            <%= link_to 'Editar', edit_post_path(@post), class: 'btn btn-primary btn-lg me-2' %>
            <%= button_to "Borrar", post_path(@post), method: :delete, data: { confirm: "Estas seguro que lo deseas?" }, class: "btn btn-outline-danger btn-lg" %>
          </div>
        <% end %>
      </div>

      <div class="mb-4">
        <% @post.photos.each do |photo| %>
          <%= cl_image_tag photo.key, class: "banner-image img-fluid rounded mb-4", alt: @post.title %>
        <% end %>
      </div>

      <div>
        <p class="mb-4"><strong>Categoria:</strong> <%= @post.category %></p>
        <p class="mb-4"><strong>Descripción:</strong> <%= @post.content %></p>
      </div>
    </div>


  </div>

  <div class="user-info mt-5 p-4 bg-light rounded">
    <% if @post.doctor.user.photo.attached? %>
      <%= cl_image_tag @post.doctor.user.photo.key, alt: "Foto de perfil de #{@post.doctor.user.name}", class: "profile-photo rounded-circle" %>
    <% else %>
      <%= image_tag "default_user.jpg", alt: "Foto de perfil por defecto", class: "profile-photo rounded-circle" %>
    <% end %>

    <p><strong>Nombre:</strong> <%= @post.doctor.user.name %> <%= @post.doctor.user.last_name %></p>
    <p><strong>Especialidad:</strong> <%= @post.doctor.specialty %></p>
    <p><strong>Licencia:</strong> <%= @post.doctor.license %></p>
  </div>

  <div class="parrafo mt-4 p-4 bg-light rounded">
    <p>
      <strong>Acciones para mejorar el autoestima: 9 claves</strong><br>
      Los sentimientos que tenemos hacia nosotros mismos influyen en nuestras decisiones y acciones, por lo que siempre es importante mejorar el autoestima.
      Todos tenemos una imagen de cómo somos, que se va formando con el pasar de los años, iniciando en la infancia.
      Además, una gran parte de la autoimagen que tenemos se basa en la interacción con otras personas o experiencias vividas.
      Por ello, la autoestima es ese conjunto de percepciones y pensamientos que tenemos hacia nosotros mismos.
      Las personas que tienen una sana autoestima se sienten bien con quienes son y saben valorar sus capacidades, habilidades y logros.
      Mientras que con una baja autoestima se puede sentir que el entorno nos rechaza o no somos buenos en nada.
      Todos podemos pasar por esa etapa de baja autoestima, principalmente en la adolescencia, pero hay acciones para mejorar la autoestima que pueden ayudarnos a valorar lo que somos.
      <br><br>
      <strong>Síntomas de autoestima baja:</strong>
      <ul>
        <li>Falta de seguridad en sí mismo.</li>
        <li>Imposibilidad de expresar gustos ante el miedo a ser rechazado.</li>
        <li>Pensar que sus opiniones no tienen valor.</li>
        <li>Sentirse que no merece obtener cosas buenas de la vida.</li>
        <li>Evitar tomar alguna acción por miedo al fracaso.</li>
        <li>Evitar relaciones sociales por miedo a no hacerlo bien y quedar excluido.</li>
        <li>Búsqueda frecuente de aprobación de los demás.</li>
        <li>Dejarse menospreciar por otros ante el miedo a imponerse cuando se requiere.</li>
        <li>Ver a las demás personas como superiores y querer ser como ellos.</li>
        <li>Creer que los logros personales se deben a factores externos, pero los fracasos son por responsabilidades propias.</li>
        <li>No valorar lo que se tiene por creer que se podría estar mejor.</li>
        <li>Sentirse infeliz.</li>
        <li>Problemas para concluir actividades o proyectos por falta de motivación permanente.</li>
        <li>Evitar tomar decisiones por creer que lo que se decida será la opción incorrecta, dejando que los demás decidan hasta en los temas más personales.</li>
        <li>Pensar constantemente en las debilidades y nunca en las fortalezas y capacidades que se tienen.</li>
        <li>Estar nervioso durante gran parte del día.</li>
        <li>Dificultades en la toma de iniciativas.</li>
        <li>Sentirse permanentemente evaluado en las actividades sociales.</li>
        <li>Tener un sentimiento de culpa.</li>
        <li>Sentirse poco atractivo.</li>
        <li>Envidiar la vida y logros de otras personas.</li>
        <li>Sentir que no se tiene nada bueno que aportar.</li>
      </ul>
      Estos sentimientos pueden superarse para conseguir una sana autoestima que beneficie tu salud mental.
    </p>
  </div>

  <button type="button" class="btn btn-primary mt-4" data-bs-toggle="modal" data-bs-target="#appointmentModal">
    Nueva Cita
  </button>

  <div class="modal fade" id="appointmentModal" tabindex="-1" aria-labelledby="appointmentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="appointmentModalLabel">Nueva Cita</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= form_with(model: @appointment, local: true) do |form| %>
            <div class="form-group mb-3">
              <p>Doctor/a: <%= @post.doctor.user.name %> <%= @post.doctor.user.last_name %></p>
              <%= form.hidden_field :doctor_id, value: @post.doctor.id %>
            </div>

            <div class="form-group mb-3">
              <%= form.label :date, "Fecha de Cita", class: "form-label" %>
              <%= form.datetime_local_field :date, class: "form-control" %>
            </div>

            <div class="form-group mb-3">
              <%= form.label :details, "Detalles Adicionales", class: "form-label" %>
              <%= form.text_area :details, class: "form-control", rows: 4 %>
            </div>

            <div class="text-center">
              <%= form.submit "Crear Cita", class: "btn btn-primary btn-lg" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <%= simple_form_for [@post, @question_answer] do |f| %>
    <div class="row">
      <div class="col-12">
        <div class="mb-3">
          <%= f.label :question, "Haz una pregunta:" %>
          <%= f.text_field :question, class: "form-control" %>
        </div>

        <%= f.submit "Preguntar", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

  <div class="list-group mt-4">
    <% @post.question_answers.each do |question_answer| %>
      <div class="list-group-item">
        <p><strong>Pregunta:</strong> <%= question_answer.question %></p>
        <% if question_answer.answer.present? %>
          <p><strong>Respuesta:</strong> <%= question_answer.answer %></p>
        <% else %>
          <p><em>Esta pregunta aún no tiene respuesta.</em></p>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="list-group">
    <% @post.reviews.each do |review| %>
      <li class="list-group-item">
        <small>
          <% count = 0 %>
          <% 5.times do %>
            <% if review.rating > count %>
              <i class="fa-solid fa-star"></i>
            <% else %>
              <i class="fa-regular fa-star"></i>
            <% end %>
            <% count += 1 %>
          <% end %>
        </small>
        <p><%= review.content %></p>
      </li>
    <% end %>

    <%= simple_form_for [@post, Review.new] do |f| %>
      <div class="mb-3">
        <%= f.input :rating, collection: 0..5, label: "Calificación", input_html: { class: "form-control" } %>
      </div>
      <div class="mb-3">
        <%= f.input :content, label: "Comentario", input_html: { class: "form-control" } %>
      </div>
      <%= f.submit "Enviar Reseña", class: 'btn btn-primary' %>
    <% end %>

    <div class="d-flex justify-content-between mt-4">
      <%= link_to "Volver al Inicio", posts_path, class: "btn btn-outline-primary" %>
    </div>

  </div>
</div>
