<h1 class="hero-title text-center mt-5 mb-5">Mis Citas</h1>
<div class="container mb-5">
  <div class="row justify-content-center mt-3 mb-5">
    <% if @appointments.present? %>
      <% @appointments.each do |appointment| %>
        <div class="col-md-4 col-lg-3 mb-5 mt-5">
          <div class="card shadow border-0 h-100" style="border-radius: 12px; background-color: #FFFFFF;">
            <%= link_to appointment_path(appointment), class: "d-block" do %>
              <img src="<%= appointment.doctor.user.avatar.attached? ? url_for(appointment.doctor.user.avatar) : asset_path('default_user.jpg') %>"
                  class="card-img-top"
                  alt="Appointment Image"
                  style="border-top-left-radius: 12px; border-top-right-radius: 12px; max-height: 150px; object-fit: cover;">
            <% end %>

            <div class="card-body text-center">
              <h5 class="card-title mb-3" style="color: #00BCD4;">
                <i class="fas fa-calendar-alt"></i> <%= appointment.date %>
              </h5>
              <p class="card-text" style="color: #00427A;">
                <i class="fas fa-info-circle"></i> Doctor: <%= appointment.doctor.user.name %> <%= appointment.doctor.user.last_name %>
              </p>
              <p class="card-text" style="color: #00427A;">
                <i class="fas fa-info-circle"></i> Paciente: <%= appointment.user.name %> <%= appointment.user.last_name %>
              </p>
              <p><strong>Estado:</strong>
                <span class="badge <%= appointment.status == 'confirmado' ? 'bg-success' : 'bg-warning' %>">
                  <%= appointment.status.capitalize %>
                </span>
              </p>
            </div>
            <div class="card-footer bg-transparent text-center">
              <% if current_user.doctor? && appointment.status == "Pendiente" %>
                  <!-- Confirmar Cita -->
                <%= button_to "Confirmar",
                confirm_appointment_path(appointment),
                method: :patch,
                class: "btn text-white font-weight-bold w-75 mb-2",
                style: "background-color: #3AAFA9; border-radius: 8px;" %>
              <% elsif current_user.patient? %>
                <% if appointment.status == "Pendiente" %>
                  <!-- Pagar Ahora -->
                  <%= button_to "Pagar Ahora",
                    create_checkout_session_appointment_path(appointment),
                    method: :post,
                    class: "btn text-white font-weight-bold w-75 mb-2",
                    style: "background-color: #007bff; border-radius: 8px; padding: 10px 20px; font-size: 16px;",
                    data: { turbo: false } %>
                  <!-- Cancelar Cita -->
                  <%= form_with model: appointment, url: appointment_path(appointment), method: :patch, local: true do |f| %>
                    <%= f.hidden_field :status, value: "Cancelado" %>
                    <button type="submit" class="btn btn-warning text-white font-weight-bold w-75 mb-2 " style="background-color:rgb(223, 49, 33); border-radius: 8px; padding: 10px 20px; font-size: 16px;">Cancelar</button>
                  <% end %>
                <% else %>
                  <!-- Status Badge -->
                  <span class="badge <%= appointment.status.downcase == 'confirmado' ? '' : 'bg-warning' %> text-white"
                    style="background-color: <%= appointment.status.downcase == 'confirmado' ? '#3AAFA9' : '' %>; border-radius: 8px; padding: 10px 20px; font-size: 16px;">
                    ESTADO: <%= appointment.status.upcase %>
                  </span>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
    <% else %>
      <p class="text-center text-muted mt-5 mb-5"><strong>Oops! Aún no has agendado ninguna cita .</strong></p>
      <p class="text-center text-muted mt-5 mb-5"><strong>Puedes agendar una nueva cita en el artículo del doctor que desees!</strong></p>
    <% end %>
  </div>
</div>
