<h1 class="hero-title text-center mt-5 mb-5">Mis Citas</h1>
<div class="container mb-5">
  <div class="row justify-content-center">
    <% @appointments.each do |appointment| %>
      <div class="col-md-4 col-lg-3 mb-4">
        <div class="card shadow border-0 h-100" style="border-radius: 12px; background-color: #FFFFFF;">
          <%= link_to appointment_path(appointment), class: "d-block" do %>
            <img src="<%= appointment.doctor.user.photo.attached? ? appointment.doctor.user.photo.url : asset_path('default_user.jpg') %>"
                class="card-img-top"
                alt="Appointment Image"
                style="border-top-left-radius: 12px; border-top-right-radius: 12px; max-height: 150px; object-fit: cover;">
          <% end %>
          <div class="card-body text-center">
            <h5 class="card-title mb-3" style="color: #00BCD4;">
              <i class="fas fa-calendar-alt"></i> <%= appointment.date %>
            </h5>
            <p class="card-text" style="color: #00427A;">
              <i class="fas fa-info-circle"></i> Doctor: <%= appointment.doctor.user.name %> <%= appointment.doctor.user.last_name %>
            </p>
            <p class="card-text" style="color: #00427A;">
              <i class="fas fa-info-circle"></i> Paciente: <%= appointment.user.name %> <%= appointment.user.last_name %>
            </p>
          </div>
          <div class="card-footer bg-transparent text-center">
            <% if current_user.doctor? && appointment.status == "Pendiente" %>
                <%= button_to "Confirmar", confirm_appointment_path(appointment),
                method: :patch,
                class: "btn text-white font-weight-bold",
                style: "background-color: #1EDD88; border-radius: 8px;" %>
            <% elsif current_user.patient? %>
              <% if appointment.status == "Pendiente" %>

                <%= form_with model: appointment, url: appointment_path(appointment), method: :patch, local: true do |f| %>
                  <%= button_to "Pagar Ahora",
                  create_checkout_session_appointment_path(appointment),
                  class: "btn text-white font-weight-bold",
                  style: "background-color: #007bff; border-radius: 8px;",
                  method: :post,
                  data: { turbo: false } %>
                  <%= f.hidden_field :status, value: "Cancelado" %>
                  <%= f.submit "Cancelar", class: "btn text-white font-weight-bold", style: "background-color: #FF6F61; border-radius: 8px;" %>
                <% end %>
              <% else %>
                <span class="badge <%= appointment.status.downcase == 'confirmado' ? 'bg-success text-white' : 'bg-warning text-dark' %> btn"
                  style="border-radius: 8px;">
                  Estado: <%= appointment.status.capitalize %>
                </span>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
