<h1 class="hero-title">Schedule a New Appointment</h1>

<%= form_with(model: @appointment) do |form| %>
  <% if @appointment.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@appointment.errors.count, "error") %> no ha permitido crear la cita.</h2>
      <ul>
        <% @appointment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="appointment-form">
    <div class="form-group">
      <%= form.label :doctor_id, "Selecciona Doctor", class: "form-label" %>
      <%= form.select :doctor_id, @doctors.collect { |doctor| [doctor.user.name + ' ' + doctor.user.last_name, doctor.id] }, { prompt: "Elige un Doctor" }, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :date, "Fecha de Cita", class: "form-label" %>
      <%= form.date_field :date, class: "form-control", min: Date.tomorrow %>
    </div>

    <div class="form-group">
      <%= form.label :time, "Hora de Cita", class: "form-label" %>
      <%= form.select :time, options_for_select((8..20).map { |h| ["#{format('%02d', h)}:00", "#{format('%02d', h)}:00"] }), {}, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :details, "Detalles Adicionales", class: "form-label" %>
      <%= form.text_area :details, class: "form-control", rows: 4 %>
    </div>
    <div class="form-group text-center">
      <%= form.submit "Crear Cita", class: "btn btn-primary btn-lg" %>
    </div>
  </div>
<% end %>

<div class="text-center mt-4">
  <%= link_to 'Volver a Citas', appointments_path, class: "btn btn-secondary" %>
</div>
