<div class="container my-5">
  <div class="card shadow-lg">
    <div class="card-header bg-primary text-white text-center">
      <h1 class="mb-0">Detalles de Cita</h1>
    </div>
    <div class="card-body">
      <div class="mb-3">
        <p><strong>Doctor:</strong> <%= @appointment.doctor.user.name %> <%= @appointment.doctor.user.last_name %></p>
      </div>
      <div class="mb-3">
        <p><strong>Paciente:</strong> <%= @appointment.user.name %> <%= @appointment.user.last_name %></p>
      </div>
      <div class="mb-3">
        <p>
          <strong>Fecha:</strong>
          <%= @appointment.date.present? ? @appointment.date.strftime('%B %d, %Y at %I:%M %p') : 'Fecha no especificada' %>
        </p>
      </div>
      <div class="mb-3">
        <p><strong>Estado:</strong>
          <span class="badge <%= @appointment.status == 'completado' ? 'bg-success' : 'bg-warning' %>">
            <%= @appointment.status.capitalize %>
          </span>
        </p>
      </div>
      <div class="mb-3">
        <p><strong>Detalles:</strong> <%= @appointment.details %></p>
      </div>
        <%= link_to 'Cancelar Cita', appointment_path(@appointment), method: :delete, data: { turbo_confirm: 'Estas seguro que quieres cancelar esta cita
        ?' }, class: 'btn btn-secondary' %>
    </div>
    <div class="card-footer text-center">
      <%= link_to 'Volver a Mis Citas', appointments_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
