<h1>Ask a Question</h1>

<%= form_with(model: [@post, @question_answer], local: true) do |form| %>
  <% if @question_answer.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@question_answer.errors.count, "error") %> prohibited this question from being saved:</h4>
      <ul>
        <% @question_answer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :question, "Your Question" %>
    <%= form.text_area :question, class: "form-control", placeholder: "Type your question here", rows: 4 %>
  </div>


    <%#= form.label :answer, "Answer (optional)" %>
    <%#= form.text_area :answer, class: "form-control", placeholder: "Provide an answer if necessary", rows: 4 %>

  <div class="form-group">
    <%= form.submit "Submit Question", class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to 'Back to Post', post_path(@post), class: 'btn btn-secondary' %>
