<!DOCTYPE html>
<html>
  <head>
    <title>Elevate</title>
    <link href="https://unpkg.com/mapbox-gl@3.1.2/dist/mapbox-gl.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://ga.jspm.io/npm:star-rating.js@4.3.0/dist/star-rating.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/4.1.7/css/flag-icons.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://unpkg.com/mapbox-gl@3.1.2/dist/mapbox-gl.js"></script>
    <%= favicon_link_tag 'favicon.ico' %>
    <script src="https://js.stripe.com/v3/"></script>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>

</html>
